@font-face {
    font-family: "Pudelinka";
    src: url("Fonts/pudelinka.ttf" ) format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
blockquote.q {
color: 000000;
font-style: italic;
    background-color: #FFFF66;
}
    background-color: #99CCFF;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    padding: 10px 10px 10px 10px;
    font-family: sans serif;
    }
p.quote { font-family: "Pudelinka" , cursive;}
